.scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overscroll-behavior: contain;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

