.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p{
  font-family: Poppins, sans-serif;}

  /* Hide the default number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional - if you want to remove the margin as well */
}

input {
  outline: none;
}
select {
  outline: none;
}

p, h1, h2, h3, h4, h5, h6, a, button, label, input, select, option, textarea, span, div,{
  font-family: Poppins, sans-serif;
  
}
.custom-paragraph {
  /* max-width: 80%; */
  display: flex;
  word-break: break-word;
  overflow: hidden;
  white-space: normal;
}
